<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>

  <script src="js/vendor.js"></script>
  <script src="js/shell.js"></script>

  <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  
  <link rel="stylesheet" type="text/css" href="css/shell.css">
  
</head>

<body>
  <h1>Hello World</h1>
</body>

<script>
  window.addEventListener('DOMContentLoaded', function(){
    console.info("DOM loaded!")

    var shell = require("js/shell/shell.js");
    var iterator = shell.init();
    console.log(iterator.next().value)

  });
</script>

</html>
